numpy==1.23.5
scikit-learn==1.2.2
torch==2.0.1
torchvision==0.15.2
matplotlib==3.7.1
opencv-python==4.7.0.68
tqdm==4.64.1
pandas==2.0.1
pathlib==1.0.1
moviepy==1.0.3
shutil==0.2
re==2.2.1
ultralytics==8.0.133